.my-app {
  background-color: #DEE0E1;
  color: #9EA0A5;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
}

/* Content header */
.my-app__header {
  padding-top: 1.875rem;
  background-color:#DEE0E1;
}

.my-app__header-inner {
  display: flex;
}

.my-app__header-text {
  flex: 1;
}

.my-app__header-title {
  margin: 0 0 .625rem;
  font-size: 28px;
  font-weight: normal;
  line-height: 32px;
  color: #00995D;
}

.my-app__body {

  padding-bottom: 1.875rem;
}

/* My card */
.my-card:not(:last-child) {
  margin-bottom: 1.875rem;
}

.my-card__header {
  display: flex;
  padding: 1.5rem 1.875rem;
  border-width: 0 0 1px;
  /* border-bottom: 1px solid #eaedf3; */
  border-color: rgba(0, 0, 0, .125);
  background: none;
}

.my-card__header-title {
  flex: 1;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: #00995D;
}

.my-card__body {
  padding: 1.5rem 1.875rem;
}

/* My list */
.my-list-item {
  display: flex;
  padding: 1rem 1.875rem;
}

.my-list-item__date,
.my-list-item__text,
.my-list-item__fee {
  display: flex;
  flex-direction: column;
}

.my-list-item__date {
  flex-direction: column-reverse;
  margin-right: 25px;
  color: #9ea0a5;
}

.my-list-item__date-day {
  font-size: 18px;
  line-height: 22px;
}

.my-list-item__date-month {
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  text-transform: uppercase;
}

.my-list-item__text {
  flex: 1;
}

.my-list-item__text-title {
  margin: 0 0 7px;
  /* 14px is default font size */
  font-size: 14px;
  font-weight: 500;
}

.my-list-item__text-description {
  margin: 0;
  color: #9ea0a5;
  font-size: 12px;
  line-height: 14px;
}




/* My inline-list */
.my-list-inline li:not(:last-child) {
  margin-bottom: .5rem;
}

/* My dl (definition list */
@media (min-width: 992px) {
  .my-dl dt {
    float: left;
    color: #9EA0A5;
    font-weight: 400;
  }

  .my-dl dd {
    text-align: right;
  }
}

/* My typography */
.my-text-headline {
  margin: 0;
  font-size: 30px;
  font-weight: 400;
  color: #9EA0A5;
}

.my-text-overline {
  margin-bottom: .75rem;
  color: #00995D;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 10px;
}
.my-text-overline2 { /*VALIDAÇÕES DO SAQUE*/
  margin-bottom: .75rem;
  color: #00995D;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;

}
.my-text-overline3 { /*R$ DO SAQUE*/
  margin-bottom: .75rem;
  color: #00995D;
  font-size: 45px;
  text-transform: uppercase;
  margin-top: 18px;

}

/* Divider */
.my-divider {
  margin: 1.25rem 0;
}

/* Input */
.my-input {
  max-width: 186px;
}

.my-select {
  border-color: #D8DCE6;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .08);
  font-size: 14px;
}

/* Bootstrap custom fixes */
@media (max-width: 1199px) {
  .container {
    max-width: 100%;
  }
}


/* List icon */
.list__icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 40px;
  border: 1px solid #E2E5ED;
  border-radius: .25rem;
}
