'<div class="my-app">
  <header class="my-header">

    <main>

      <section class="my-app__header">
        <div class="container">
          <div class="my-app__header-inner">
            <div class="my-app__header-text media">
              <div class="media-body">
                <h1 class="my-app__header-title text-center fw-light pb-2">Faça transferências entre GreenContas
                  <!--{{nome}} -->
                </h1>
                <div class="my-card card">
                  <div class="my-card__header card-header">
                    <div class="my-card__header-title">
                      <div class="my-text-overline">Sua conta-corrente:</div>
                      <h3 class="my-text-headline pt-2 pb-3">NUMERO DA CONTA CORRENTE DO TITULAR</h3>
                      <div class="my-text-overline">Nome:</div>
                      <h3 class="my-text-headline pt-2 pb-3">Nome do TITULAR</h3>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </section>



      <section class="my-app__body pt-4">
        <div class="container">
          <div class="row">
            <div class="col-4">


              <div class="my-card card pb-5">
                <div class="my-card__body card-body">
                  <div class="my-text-overline2 text-center fw-bolder">Validações</div>
                  <ul class="my-list my-list--simple list-inline mb-0">

                    <li class="my-list-item">
                      <label class="my-text-overline">Senha</label>
                      <input style="width: 90%; border-radius: 10px;" class="ms-2 text-center" type="text" required />
                      <button style="border-radius: 10px;" class="btn ms-1 btn-sm btn-outline-secondary" type="submit">Validar</button>

                    </li>




                  </ul>
                </div>
              </div>

            </div>

            <div class="my-card card col me-2">
              <div class="my-card__header card-header">
                <h3 class="my-card__header-title card-title text-center">Qual valor irá transferir?</h3>
              </div>
              <ul class="my-list list-group list-group-flush">
                <li class="ms-3 my-list-item ">
                  <label class="my-text-overline3">R$</label>
                  <input [(ngModel)]="saldo" style="color: #00995D;font-size: 35px; border-radius: 10px 10px; border-style: dashed;" class="text-center ms-4" type="number" required />


              </ul>
            </div>

          </div>
        </div>
      </section>
      <section class="my-app__header">
        <div class="container">
          <div class="my-app__header-inner">
            <div class="my-app__header-text media">
              <div class="media-body">
                <div class="my-card card">
                  <div class="my-card__header card-header">
                    <div class="my-card__header-title">
                      <div class="my-text-overline">Conta-corrente de destino:</div>
                      <h3 class="my-text-headline pt-2 pb-3">NUMERO DA CONTA CORRENTE DE DESTINO</h3>
                      <div class="my-text-overline">Nome:</div>
                      <h3 class="my-text-headline pt-2 pb-3">Nome do usuário de destino</h3>
                      <input [(ngModel)]="pessoa02.id" type="text" required />
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="col"></div>
      <div class="col pt-2 text-center"><button class="btn btn-lg btn-success" (click)="transferencia()">Confirmar Transferência</button></div>
      <div class="col"></div>

    </main>
  </header>
</div>
'
