<!--

LCI e LCA (Letras de crédito isentas do Imposto de Renda)
LC (Letras de câmbio)
Fundos de Renda Fixa. -->


<div class="fundo">
  <div class="my-app">
    <header class="my-header">

      <main>

        <section class="my-app__header">
          <div class="container">
            <div class="my-app__header-inner">
              <div class="my-app__header-text media">
                <div class="media-body">
                  <h1 class="my-app__header-title text-center mb-3">Conheça as Melhores formas de Investimentos no GreenBank
                  </h1>
                  <div class="my-card card">
                    <div class="my-card__header card-header">
                      <div class="my-card__header-title">
                        <div class="my-text-overline2 text-center">Renda Fixa

                        </div>
                        <hr>
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                          <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                                Tesouro Direto
                              </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse text-start"
                              aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                              <div  style="text-align:justify" class="accordion-body">O Tesouro Direto é um Programa do Tesouro Nacional desenvolvido em parceria com a B3 para venda de títulos públicos federais para pessoas físicas, de forma 100% online.

                                Lançado em 2002, o Programa surgiu com o objetivo de democratizar o acesso aos títulos públicos, permitindo aplicações a partir de R$ 30,00.

                                O Tesouro Direto é uma excelente alternativa de investimento pois oferece títulos com diferentes tipos de rentabilidade (prefixada, ligada à variação da inflação ou à variação da taxa de juros básica da economia - Selic), diferentes prazos de vencimento e também diferentes fluxos de remuneração. Com tantas opções, fica fácil achar o título indicado para realizar seus objetivos!

                                Além de acessível e de apresentar muitas opções de investimento, o Tesouro Direto oferece boa rentabilidade e liquidez diária, mesmo sendo a aplicação de menor risco do mercado.</div>
                            </div>
                          </div>

                        </div>
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                          <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingTwo">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                aria-controls="flush-collapseTwo">
                                CDB - Certificados de Depósito Bancário
                              </button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse"
                              aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                              <div  style="text-align:justify" class="accordion-body">Se você já investiu no Tesouro Direto, sabe que quem compra títulos públicos na prática “empresta” dinheiro para o governo fazer a máquina pública girar. Da mesma forma, quem investe em debêntures empresta recursos para uma empresa realizar grandes projetos. A lógica é exatamente a mesma nos certificados de depósito bancário: quem compra CDBs empresta dinheiro para os bancos financiarem suas atividades de crédito.

                                Os bancos captam dinheiro com os CDBs oferecendo em troca uma remuneração – os juros – aos investidores, por um determinado período. Os recursos são usados por essas instituições para conceder empréstimos a outras pessoas.

                                Só ficam de fora os valores que os bancos são obrigados a recolher como depósito compulsório junto ao Banco Central – cerca de um terço do que captam. Esse volume de recursos não pode ser emprestado. A obrigação serve exatamente para que o governo consiga controlar o dinheiro em circulação na economia.</div>
                            </div>
                          </div>

                        </div>
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                          <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingThree">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseThree" aria-expanded="false"
                                aria-controls="flush-collapseThree">
                                LCI - Letras de Crédito Imobiliário e LCA - Letras de Crédito do Agronegócio
                              </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse"
                              aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                              <div  style="text-align:justify" class="accordion-body">As Letras de Crédito Imobiliário (LCI) e Letras de Crédito do Agronegócio (LCA) são títulos de renda fixa do mercado financeiro que captam recursos visando o desenvolvimento do setor imobiliário e agronegócio, respectivamente.</div>
                            </div>
                          </div>

                        </div>
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                          <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingFour">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseFour" aria-expanded="false"
                                aria-controls="flush-collapseFour">
                                LC - Letras de Câmbio
                              </button>
                            </h2>
                            <div id="flush-collapseFour" class="accordion-collapse collapse"
                              aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                              <div  style="text-align:justify" class="accordion-body">As Letras de Câmbio (LC) são títulos de renda fixa emitidos pelas sociedades de crédito, financiamento e investimento (SCFI), conhecidas popularmente como “financeiras”. Apesar de o nome do investimento remeter à câmbio, não há qualquer relação com negociação de moedas estrangeiras.

                                As LCs são também chamadas de “CDBs das financeiras” por terem, basicamente, o mesmo funcionamento dos CDBs LCIs ou LCAs com a diferença de que estes são emitidos por bancos. Assim como esses investimentos do mercado de renda fixa, as LCs também tem a garantia do Fundo Garantidor de Créditos (FGC), a mesma segurança da poupança.</div>
                            </div>
                          </div>

                        </div>
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                          <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingFive">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseFive" aria-expanded="false"
                                aria-controls="flush-collapseFive">
                                Fundos de Renda Fixa
                              </button>
                            </h2>
                            <div id="flush-collapseFive" class="accordion-collapse collapse"
                              aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                              <div  style="text-align:justify" class="accordion-body">A principal característica dos fundos de renda fixa é o tipo de investimento que eles realizam – e, consequentemente, o seu principal fator de risco. São classificadas nessa categoria as carteiras que tenham pelo menos 80% do patrimônio aplicado em ativos vinculados à variação da taxa de juros, de índices de preço, ou as duas coisas.

                                Para terem esse tipo de exposição, os fundos de investimento aplicam, basicamente, em títulos de renda fixa. De maneira simplificada, quem compra esses títulos na verdade “empresta” dinheiro, em troca de receber juros no futuro.

                                Em certa medida, é assim que os fundos de renda fixa entram nesse jogo. Quando eles compram títulos públicos federais, debêntures, CDBs (certificados de depósito bancário) e outros papéis, eles “emprestam” o dinheiro dos investidores ao governo, às empresas ou aos bancos. E esperam, no futuro, receber os recursos de volta, com juros.

                                É dessas operações que vêm o retorno que os fundos de renda fixa oferecem aos seus investidores. Eles podem incluir na carteira títulos com maior risco de crédito e, via de regra, usam derivativos apenas para proteger os investimentos.</div>
                            </div>
                          </div>

                        </div>

                      </div>

                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>



      </main>
    </header>
  </div>
</div>
