<!-- <div class="row">
  <div class="col"></div>

  <div style="border-radius: 25px" class="card-body box-profile col-8 border m-2">
    <h3 style="font-size: 35px;" class="profile-username text-center pb-3">Rafael da Silva Macedo</h3>
    <p class="text-muted text-center pb-2">Conta Corrente: 0480003-0</p>
    <p class="text-muted text-center pb-2">Agência: 3182</p>
    <ul class="list-group list-group-unbordered mb-3">
      <li class="list-group-item">
        <b>Data de Nascimento</b> <a class="float-right">03/08/1994</a>
      </li>
      <li class="list-group-item">
        <b>CPF</b> <a class="float-right">***.***.530-23</a>
      </li>
      <li class="list-group-item">
        <b>Email</b> <a class="float-right">rafael9408@gmail.com</a>
      </li>
    </ul>
  </div>
  <div class="col"></div>


</div>

<div class="row text-center">
  <div class="col"></div>
  <div class="col-8 card m-2">


      <div class="card-header">
        <h1 style="font-size: 35px;" class="text-center">Saldo</h1>
      </div>
      <hr>
      <div class="card-body">
        <h1 *ngIf="aparece" class="text-center">R$ 1870,30</h1>
        <hr>
        <button (click)="alterar()" class="btn btn-lg btn-outline-secondary">Mostrar Saldo</button>
      </div>




  </div>
  <div class="col"></div>
  </div> -->


<div class="fundo">
  <div class="my-app">
    <header class="my-header">

      <main>

        <section class="my-app__header">
          <div class="container">
            <div class="my-app__header-inner">
              <div class="my-app__header-text media">
                <div class="media-body">
                  <h1 class="my-app__header-title">Bem-vindo, NOME </h1>
                  <div class="my-card card">
                    <div class="my-card__header card-header">
                      <div class="my-card__header-title">
                        <div class="my-text-overline">Saldo Atual
                        </div>
                        <span (click)="alterar()"><img src="https://cdn-icons-png.flaticon.com/512/2874/2874802.png"
                            width="35px"></span>

                        <h3 *ngIf="aparece" class="my-text-headline pt-2 pb-3" > {{ pessoa.saldo }}</h3>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>



        <section class="my-app__body">
          <div class="container">
            <div class="row">
              <div class="col-4">


                <div class="my-card card">
                  <div class="my-card__body card-body">
                    <div class="my-text-overline">Dados do Cliente</div>
                    <ul class="my-list my-list--simple list-inline mb-0">
                      <li class="my-list-item ">
                        <p class="my-text-overline">Data de nascimento</p>
                        <p class="ms-2">03/08/1994</p>
                      </li>
                      <li class="my-list-item">
                        <p class="my-text-overline">CPF</p>
                        <p class="ms-5">***.***.530-23</p>
                      </li>
                      <li class="my-list-item">
                        <p class="my-text-overline">Conta-Corrente</p>
                        <p class="ms-4">48373263-2</p>
                      </li>
                      <li class="my-list-item">
                        <p class="my-text-overline">Agência</p>
                        <p class="ms-5">2961</p>
                      </li>
                    </ul>
                  </div>
                </div>

              </div>

              <div class="my-card card col me-2">
                <div class="my-card__header card-header">
                  <h3 class="my-card__header-title card-title">Últimas Transações</h3>
                </div>
                <ul class="my-list list-group list-group-flush">
                  <li class="my-list-item list-group-item">
                    <div class="my-list-item__date">
                      <span class="my-list-item__date-day">28</span>
                      <span class="my-list-item__date-month">jul</span>
                    </div>
                    <div class="my-list-item__text">
                      <h4 class="my-list-item__text-title">Bank of America</h4>
                      <p class="my-list-item__text-description">Withdraw to bank account</p>
                    </div>
                    <div class="my-list-item__fee">
                      <span class="my-list-item__fee-delta">+250.00</span>
                      <span class="my-list-item__fee-currency">USD</span>
                    </div>
                  </li>
                  <li class="my-list-item list-group-item">
                    <div class="my-list-item__date">
                      <span class="my-list-item__date-day">28</span>
                      <span class="my-list-item__date-month">jul</span>
                    </div>
                    <div class="my-list-item__text">
                      <h4 class="my-list-item__text-title">Bank of America</h4>
                      <p class="my-list-item__text-description">Withdraw to bank account</p>
                    </div>
                    <div class="my-list-item__fee">
                      <span class="my-list-item__fee-delta">+250.00</span>
                      <span class="my-list-item__fee-currency">USD</span>
                    </div>
                  </li>
                  <li class="my-list-item list-group-item">
                    <div class="my-list-item__date">
                      <span class="my-list-item__date-day">28</span>
                      <span class="my-list-item__date-month">jul</span>
                    </div>
                    <div class="my-list-item__text">
                      <h4 class="my-list-item__text-title">Bank of America</h4>
                      <p class="my-list-item__text-description">Withdraw to bank account</p>
                    </div>
                    <div class="my-list-item__fee">
                      <span class="my-list-item__fee-delta">+250.00</span>
                      <span class="my-list-item__fee-currency">USD</span>
                    </div>
                  </li>
                </ul>
              </div>

            </div>
          </div>
        </section>
      </main>
    </header>
  </div>
</div>
