<!-- <div class="fundo">
  <div class="my-app">
    <header class="my-header">

      <main>
        <section class="my-app__header">
          <div class="container">
            <div class="my-app__header-inner">
              <div class="my-app__header-text media">
                <div class="media-body">
                  <h1 class="my-app__header-title">Bem-vindo, {{ pessoa.nome }} </h1>
                  <div class="my-card card">
                    <div class="my-card__header card-header">
                      <div class="my-card__header-title">
                        <div >Saldo Atual
                        </div>
                        <span (click)="alterar()"><img src="https://cdn-icons-png.flaticon.com/512/2874/2874802.png"
                            width="35px"></span>


                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="my-app__body">
          <div class="container">
            <div class="row">
              <div class="col-4">


                <div class="my-card card">
                  <div class="my-card__body card-body">
                    <div >Dados do Cliente</div>
                    <ul class="my-list my-list--simple list-inline mb-0">
                      <li class="my-list-item ">
                        <p >Data de nascimento</p>
                        <p class="ms-2">{{pessoa.dataNascimento}}</p>
                      </li>
                      <li>
                        <p >CPF</p>
                        <p class="ms-5">{{pessoa.cpf}}</p>
                      </li>
                      <li>
                        <p >Conta-Corrente</p>
                        <p class="ms-4">{{pessoa.conta_corrente}}</p>
                      </li>
                      <li>
                        <p >Agência</p>
                        <p class="ms-5">{{pessoa.agencia}}</p>
                      </li>
                    </ul>
                  </div>
                </div>

              </div>

              <div class="my-card card col me-2">
                <div class="my-card__header card-header">
                  <h3 class="my-card__header-title card-title">Últimas Transações</h3>
                </div>
                <ul class="my-list list-group list-group-flush">
                  <li class="my-list-item list-group-item">
                    <div class="my-list-item__date">
                      <span class="my-list-item__date-day">28</span>
                      <span class="my-list-item__date-month">jul</span>
                    </div>
                    <div class="my-list-item__text">
                      <h4 class="my-list-item__text-title">Bank of America</h4>
                      <p class="my-list-item__text-description">Withdraw to bank account</p>
                    </div>
                    <div class="my-list-item__fee">
                      <span class="my-list-item__fee-delta">+250.00</span>
                      <span class="my-list-item__fee-currency">USD</span>
                    </div>
                  </li>
                  <li class="my-list-item list-group-item">
                    <div class="my-list-item__date">
                      <span class="my-list-item__date-day">28</span>
                      <span class="my-list-item__date-month">jul</span>
                    </div>
                    <div class="my-list-item__text">
                      <h4 class="my-list-item__text-title">Bank of America</h4>
                      <p class="my-list-item__text-description">Withdraw to bank account</p>
                    </div>
                    <div class="my-list-item__fee">
                      <span class="my-list-item__fee-delta">+250.00</span>
                      <span class="my-list-item__fee-currency">USD</span>
                    </div>
                  </li>
                  <li class="my-list-item list-group-item">
                    <div class="my-list-item__date">
                      <span class="my-list-item__date-day">28</span>
                      <span class="my-list-item__date-month">jul</span>
                    </div>
                    <div class="my-list-item__text">
                      <h4 class="my-list-item__text-title">Bank of America</h4>
                      <p class="my-list-item__text-description">Withdraw to bank account</p>
                    </div>
                    <div class="my-list-item__fee">
                      <span class="my-list-item__fee-delta">+250.00</span>
                      <span class="my-list-item__fee-currency">USD</span>
                    </div>
                  </li>
                </ul>
              </div>

            </div>
          </div>
        </section>
      </main>

    </header>
  </div>
</div> -->

<header class="row mb-1">
  <section class="col">
    <div class="card">
      <div class="card-header">

        <section class="row">
          <div class="col-6">
            <h1 style="margin: 0">
              Bem-vindo <b>{{ pessoa.nome }}</b>
            </h1>
          </div>

          <div class="col-6 text-end">
              <span *ngIf="aparece" class="pe-3" style="margin: 0; font-size: 20px;">R$ {{ pessoa.saldo }}</span>
              <img (click)="alterar()" src="https://cdn-icons-png.flaticon.com/512/2874/2874802.png" width="35px"/>
          </div>
        </section>

      </div>
    </div>
  </section>
</header>

<main class="row">
  <section class="col-4">
    <div class="card">
      <div class="card-header">
        <h3 class="" style="margin: 0">Dados do cliente</h3>
      </div>
      <div class="card-body">
        <ul>
          <li>
            <p class="text-success">Data de nascimento</p>
            <p>{{ pessoa.dataNascimento }}</p>
          </li>
          <li>
            <p class="text-success">CPF</p>
            <p class="">{{ pessoa.cpf }}</p>
          </li>
          <li>
            <p class="text-success">Conta-Corrente</p>
            <p class="">{{ pessoa.conta_corrente }}</p>
          </li>
          <li>
            <p class="text-success">Agência</p>
            <p class="">{{ pessoa.agencia }}</p>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="col-8">

    <div class="card">
      <div class="card-header">
        <h3 class="" style="margin: 0">Últimas Transações</h3>
      </div>

      <div class="card-body">

        <h5 class="card-title">28 jul - Bank of America</h5>
        <p class="card-text">Withdraw to bank account</p>
        <p class="card-text">+250.00 USD</p>

        <hr style="border: 0.5px solid grey;">

        <h5 class="card-title">28 jul - Bank of America</h5>
        <p class="card-text">Withdraw to bank account</p>
        <p class="card-text">+250.00 USD</p>

      </div>
    </div>

  </section>
</main>
