<header class="row mb-1">
  <section class="col">
    <div class="card">
      <div class="card-header">

        <section class="row">
          <div class="col-6">
            <h1 style="margin: 0">
              Bem-vindo <b>{{ pessoa.nome }}</b>
            </h1>
          </div>

          <div class="col-6 text-end">
              <span *ngIf="aparece" class="pe-3" style="margin: 0; font-size: 20px;">R$ {{ pessoa.saldo }}</span>
              <img (click)="alterar()" src="{{ src }}" width="35px"/>
          </div>
        </section>

      </div>
    </div>
  </section>
</header>

<main class="row">
  <section class="col-4">
    <div class="card">
      <div class="card-header">
        <h3 class="" style="margin: 0">Dados do cliente</h3>
      </div>
      <div class="card-body">
        <ul>
          <li>
            <p class="text-success">Data de nascimento</p>
            <p>{{ pessoa.dataNascimento }}</p>
          </li>
          <li>
            <p class="text-success">CPF</p>
            <p class="">{{ pessoa.cpf }}</p>
          </li>
          <li>
            <p class="text-success">Conta-Corrente</p>
            <p class="">{{ pessoa.conta_corrente }}</p>
          </li>
          <li>
            <p class="text-success">Agência</p>
            <p class="">{{ pessoa.agencia }}</p>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="col-8">

    <div class="card">
      <div class="card-header">
        <h3 class="" style="margin: 0">Últimas Transações</h3>
      </div>

      <div class="card-body">

        <h5 class="card-title">28 jul - Bank of America</h5>
        <p class="card-text">Withdraw to bank account</p>
        <p class="card-text">+250.00 USD</p>

        <hr style="border: 0.5px solid grey;">

        <h5 class="card-title">28 jul - Bank of America</h5>
        <p class="card-text">Withdraw to bank account</p>
        <p class="card-text">+250.00 USD</p>

      </div>
    </div>

  </section>
</main>
