<body class=''>

  <div class="parent">

    <div class="div1">
      <div class="animateme">
        <ul class="bg-bubbles">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </div>

    <div class="div2">
      <div id="login">

        <h1>Welcome</h1>
        <h1>Please</h1>
        <h1>Login</h1>


        <fieldset>
          <p><input [(ngModel)]="email" name="name" id="name" type="text" required placeholder="E-mail"></p>
          <p><input [(ngModel)]="password" type="password" required placeholder="Password"></p>
          <p class=""><span *ngIf='mensagem != ""' class="alert alert-danger p-1 mt-1 text-center">{{ mensagem }}</span></p>
          <p><a (click)="forgotPassword()" style="cursor: pointer; font-size: 14px;">Forgot Password?</a></p>
          <p>
            <input type="submit" (click)="login()" value="Login">
            <p>Ainda não é cliente? <a style="font-size: 14px; color:#565F67; cursor: pointer;" (click)="register()">Cadastre-se</a></p>

          <br><br>
          <p><input (click)="collabGreen()" type="submit" value="Conheça o CollabGreen"></p>
        </fieldset>

      </div>
    </div>

  </div>

</body>
