<body class=''>

  <div class="parent">

    <div class="div1">
      <div class="animateme">
        <ul class="bg-bubbles">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </div>

    <div class="div2">
      <div id="login">

        <h1>Welcome</h1>
        <h1>Please</h1>
        <h1>Login</h1>


        <fieldset>
          <p><input [(ngModel)]="email" name="name" id="name" type="text" required placeholder="E-mail"></p>
          <p><input [(ngModel)]="password" type="password" required placeholder="Password"></p>
          <p><a (click)="forgotPassword()">Forgot Password?</a></p>
          <p><input type="submit" (click)="login()" value="Login"></p>
          <p><span class="btn-round">or</span></p>
          <p><input type="submit" (click)="register()" value="Register"></p>
          <br><br>
          <p><input type="submit" value="Conheça o GreenCollab"></p>
        </fieldset>

      </div>
    </div>

  </div>

</body>
